/* Variables */
:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #a28268;
  --color-brand-dark: #465929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
}

/* Base */
body {
  color: var(--color-primary-dark);
  font-family: "Poppins", "sans-serif";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

/* Button */
.button {
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: var(--color-primary-light);
  border-color: var(--color-brand-dark);
}

/* Links */
.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brand-normal);
  font-weight: 600;
}

/* Hero section */
.hero-title {
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  color: var(--color-primary-light);
}

.hero-title .accent {
  color: var(--color-brand-normal);
}

/* Advanatges section */
.advanatges-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
}

.advanatges-item {
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  color: var(--color-primary-dark);
  font-size: 64px;
  line-height: 1.3;
  font-weight: 900;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions section */
.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

/* Chefs section */

.chef-title {
  font-size: 40px;
  font-weight: 600;
}

/* Formats section */
.format-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-light);
}

.format-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-light);
}

/* Footer */
.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
}

.address-link {
  color: var(--color-brand-normal);
}

.address-copyright {
  font-size: 14px;
  color: var(--color-secondary-dark);
}
